<footer class="footer bg-dark py-5 mt-auto">
    <!-- py-5 means padding top and bottom -->
    <div class="container">
        <span class="text-muted"> &copy; YelpCamp 2022</span>
    </div>
</footer>